*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  font: 400;
}
header{
  z-index: 2;
  background-color: #14213D;
  position: fixed;
  width: 100%;
  border-bottom: .1rem solid black;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  position: relative;
}

header nav ul{
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  font: 700;
}
header nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
  transition: all .2s ease-in;
}

header nav ul li a:hover{
  color: #718BC2;
  transition: all .2s ease-in;
}

.back a {
  font-size: 2rem;
  filter: brightness(1000);
}

.section{
  height: 100vh;
}

.main-section{
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
}


.central-bloco{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.central-bloco h1{
  font-size: 2rem;
  color: #14213D;
}

.bloco-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #FFFFFF;
  padding: 2rem;
  width: 115rem;
  border-radius: 0.5rem;
}

.texts-main h2{
  text-align: center;
  font: 700;
  font-size: 1.4rem;
}
.texts-main p{
  text-align: justify;
  font-size: 1.2rem;
}
.texts-main {
  display: flex;
  flex-direction: column;
  width: 80rem;
  gap: 1rem;
  background-color: #14213D;
  padding: 1.5rem;
  color: white;
  box-shadow: 0.25rem .25rem .5rem black;
  border-radius: 0.5rem;
}

.bloco-main img{
  max-width: 25%;
  box-shadow: 0.25rem .25rem .5rem black;
  transition: all .2s ease-in;
  border-radius: 0.5rem;
}
.bloco-main img:hover{
  transform: translateY(-.25rem);
  transition: all .2s ease-in;
}

.informacao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.informacao h1{
  font-size: 2rem;
  color: #14213D;
}

.bloco-informacao{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2rem;
  max-width: 110rem;
  background-color: #14213D;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.bloco-informacao img{
  max-width: 40%;
  box-shadow: 0.25rem .25rem .5rem black;
  transition: all .2s ease-in;
  border-radius: 0.5rem;
}

.bloco-informacao img:hover{
  transform: translateY(-.25rem);
  transition: all .2s ease-in;
}

.text-informacao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.text-informacao h2{
  text-align: center;
  font: 700;
  font-size: 1.4rem;
}
.text-informacao p{
  text-align: justify;
  font-size: 1.2rem;
}

.denuncie{
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.denuncie h1{
  color: #14213D;
  font-size: 2rem;
}

.bloco-denuncie{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bloco{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 6rem 0rem;
  width: 20rem;
  border-radius: 2.5rem;
  border: solid 1rem #14213D;
}
.bloco img{
  max-width: 30%;
}

.contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contato h1{
  color: #14213D;
  font-size: 2rem;
}

.contato-box{
  background-color: #FFFFFF;
  border: 1rem #14213D solid;
  border-radius: 2.5rem;
  max-width: 50rem;
  padding: 6rem 2rem;
}
.contato-box h2{
  text-align: center;
  font-size: 1.4rem;
}
.contato-box p{
  font-size: 1.2rem;
  text-align: justify;
}
.contato-box p h3{
  text-align: center;
}

footer h1{
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-top: 1px #14213D solid;
}
